@font-face {
  font-family: "HurmeGeometricSans3-Bold";
  src: local("HurmeGeometricSans3-Bold"), url("../fonts/HurmeGeometricSans3-Bold.woff") format("woff");
}
@font-face {
  font-family: "HurmeGeometricSans3-Regular";
  src: local("HurmeGeometricSans3-Regular"), url("../fonts/HurmeGeometricSans3-Regular.woff") format("woff");
}
@font-face {
  font-family: "HurmeGeometricSans3-Black";
  src: local("HurmeGeometricSans3-Black"), url("../fonts/HurmeGeometricSans3-Black.woff") format("woff");
}
@font-face {
  font-family: "HurmeGeometricSans3-Light";
  src: local("HurmeGeometricSans3-Light"), url("../fonts/HurmeGeometricSans3-Light.woff2") format("woff2");
}
#es-rc #es-rc-content {
  margin: 0 auto;
  padding: 0;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 100vw;
  overflow: hidden;
  background-color: #eeeae5;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content h5,
#es-rc #es-rc-content h6 {
  margin: 0;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-title {
  padding-top: 10px;
  margin-bottom: 10px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #13294b;
  text-align: center;
}
#es-rc #es-rc-content .es-kv {
  background-color: #5fa6c9;
}
#es-rc #es-rc-content .es-kv__image--desktop {
  display: none;
}
#es-rc #es-rc-content .es-features {
  background: url("https://www.datocms-assets.com/114232/1743696378-features-bg-mobile.png") no-repeat center center;
  min-height: 400px;
  background-size: cover;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}
#es-rc #es-rc-content .es-features__title {
  padding-top: 30px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #13294b;
  text-align: center;
}
#es-rc #es-rc-content .es-features__disclaimer {
  position: absolute;
  bottom: 5px;
  left: 0;
  font-size: 8px;
  font-weight: 400;
  color: #13294b;
}
#es-rc #es-rc-content .es-features__link {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 70px;
  background-color: #13294b;
  font-size: 12px;
  color: #ffffff;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross {
  padding-top: 30px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 70px;
  position: relative;
  background: #e5dcd3;
  background: #e5dcd3;
}
#es-rc #es-rc-content .es-cross__title--desktop {
  display: none;
}
#es-rc #es-rc-content .es-cross__subtitle {
  margin-bottom: 30px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #13294b;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  gap: 30px;
  width: 90%;
}
#es-rc #es-rc-content .es-cross__single {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 59px;
  border-radius: 72px;
  box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  height: 538px;
  border-radius: 40px;
}
#es-rc #es-rc-content .es-cross__single-image {
  max-width: 70%;
  margin-bottom: 20px;
  max-height: 130px;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
#es-rc #es-rc-content .es-cross__single-title {
  margin-bottom: 10px;
  min-height: 40px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-family: "HurmeGeometricSans3-Black", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #13294b;
}
#es-rc #es-rc-content .es-cross__single-subtitle {
  margin: 0 auto;
  max-width: 250px;
  min-height: 76px;
  margin-bottom: 20px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #13294b;
}
#es-rc #es-rc-content .es-cross__single-link {
  margin-bottom: 20px;
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  padding: 20px 60px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #13294b;
  color: #ffffff;
  border-radius: 80px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
#es-rc #es-rc-content .es-cross__single-link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#es-rc #es-rc-content .es-cross__single-subtitle-disclaimer {
  margin: 0 auto;
  max-width: 300px;
  margin-bottom: 20px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #13294b;
}
#es-rc #es-rc-content .es-cross__disclaimer--desktop {
  margin-top: 20px;
  display: none;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  color: #13294b;
  text-align: center;
  font-size: 16px;
}
#es-rc #es-rc-content .es-cross__single-subtitle--desktop {
  min-height: auto;
}
#es-rc #es-rc-content .es-change {
  background-color: #6cb8ca;
  padding-bottom: 50px;
}
#es-rc #es-rc-content .es-change__image {
  margin-top: -5px;
  margin-bottom: 35px;
}
#es-rc #es-rc-content .es-change__title {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #ffffff;
}
#es-rc #es-rc-content .es-change__subtitle {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
#es-rc #es-rc-content .es-change__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-items: center;
  padding-inline: 10px;
  gap: 32px;
}
#es-rc #es-rc-content .es-change__single {
  display: -webkit-box;
  display: flex;
  max-width: 99%;
  -webkit-box-align: start;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px;
  padding-right: 5px;
  padding-left: 5px;
  background: #ffffff;
  border-radius: 40px;
}
#es-rc #es-rc-content .es-change__single-subtitle {
  max-width: 125px;
}
#es-rc #es-rc-content .es-change__single-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 18px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
#es-rc #es-rc-content .es-change__single-left {
  max-width: 50%;
}
#es-rc #es-rc-content .es-change__single-right {
  max-width: 50%;
  min-width: 35%;
}
#es-rc #es-rc-content .es-change__single-inner-2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  gap: 5px;
}
#es-rc #es-rc-content .es-change__single-title {
  font-family: "HurmeGeometricSans3-Bold", sans-serif;
  font-weight: 700;
  color: #13294b;
}
#es-rc #es-rc-content .es-change__single-title--turquoise {
  max-width: 100px;
  font-size: 14px;
  color: #6cb8ca;
}
#es-rc #es-rc-content .es-change__single-title--turquoise-desktop {
  display: none;
}
#es-rc #es-rc-content .es-change__single-subtitle {
  font-size: 13px;
}
#es-rc #es-rc-content .es-change__single-checkbox {
  margin: 0;
  width: 30px;
}
#es-rc #es-rc-content .es-change__single-icon {
  max-width: 50px;
  height: 50px;
}
#es-rc #es-rc-content .es-change__disclaimer {
  font-family: "HurmeGeometricSans3-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #13294b;
}
#es-rc #es-rc-content .swiper-pagination-bullet {
  background-color: #afafaf;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
#es-rc #es-rc-content .swiper-pagination-bullet-active {
  background-color: #bebcbc;
}
#es-rc #es-rc-content .es-video {
  padding: 2% 0% 2%;
  min-height: 600px;
  margin-bottom: 100px;
}
#es-rc #es-rc-content .es-video__container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
#es-rc #es-rc-content .es-video__wrapper {
  margin: 0 auto;
  width: 80%;
}
#es-rc #es-rc-content .es-video iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#es-rc #es-rc-content .es-video__iframe--desktop {
  display: none;
}
#es-rc #es-rc-content .es-video__iframe--mobile {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 650px !important;
}
@media (min-width: 360px) {
  #es-rc #es-rc-content .es-cross__container {
    width: 100%;
  }
}
@media (min-width: 400px) {
  #es-rc #es-rc-content .es-title {
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-change__list {
    max-width: 90%;
    margin: 0 auto;
    align-items: normal;
  }
  #es-rc #es-rc-content .es-change__single-icon {
    max-width: 70px;
    height: 70px;
  }
}
@media (min-width: 500px) {
  #es-rc #es-rc-content .es-title {
    font-size: 21px;
  }
  #es-rc #es-rc-content .es-features__link {
    padding: 15px;
    margin-right: 10px;
  }
  #es-rc #es-rc-content .es-features__disclaimer {
    margin-left: 10px;
  }
  #es-rc #es-rc-content .es-cross__subtitle {
    font-size: 16px;
  }
  #es-rc #es-rc-content .es-change__subtitle {
    font-size: 16px;
  }
  #es-rc #es-rc-content .es-change__single-inner-2 {
    margin-top: -15px;
  }
  #es-rc #es-rc-content .es-change__single-title {
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-change__single-title--turquoise {
    max-width: 150px;
    font-size: 14px;
  }
}
@media (min-width: 550px) {
  #es-rc #es-rc-content .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-title {
    font-size: 26px;
  }
  #es-rc #es-rc-content .es-kv__image--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__image--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-features {
    background: #eeeae5 url(https://www.datocms-assets.com/114232/1744014041-features-bg-desktop.png) no-repeat center center;
    background-size: cover;
    min-height: 330px;
    margin-bottom: 0;
    display: -webkit-box;
    display: flex;
  }
  #es-rc #es-rc-content .es-features__title {
    text-align: left;
  }
  #es-rc #es-rc-content .es-features__inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    max-width: 60%;
    padding-left: 100px;
  }
  #es-rc #es-rc-content .es-features__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 20px;
  }
  #es-rc #es-rc-content .es-features__disclaimer {
    font-family: "HurmeGeometricSans3-Regular", sans-serif;
    font-weight: 500;
    position: static;
    -webkit-box-ordinal-group: 3;
    order: 2;
    margin-left: -10px;
    color: #13294b;
  }
  #es-rc #es-rc-content .es-features__link {
    position: static;
  }
  #es-rc #es-rc-content .es-cross {
    max-width: 100%;
    background: #ffffff;
  }
  #es-rc #es-rc-content .es-cross__title--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-cross__title--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-cross__single {
    background: #e5dcd3;
    min-height: auto;
    height: auto;
    padding-bottom: 20px;
  }
  #es-rc #es-rc-content .es-cross__single-subtitle-disclaimer {
    display: none;
  }
  #es-rc #es-rc-content .es-cross__single-subtitle-disclaimer--desktop {
    display: block;
    padding-right: 5px;
    padding-left: 5px;
  }
  #es-rc #es-rc-content .es-cross__disclaimer--desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-cross__subtitle {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-cross__single-link {
    background: #6cb8ca;
  }
  #es-rc #es-rc-content .es-change {
    padding-bottom: 20px;
  }
  #es-rc #es-rc-content .es-change__subtitle {
    font-size: 18px;
    max-width: 52%;
  }
  #es-rc #es-rc-content .es-change__list {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  #es-rc #es-rc-content .es-change__disclaimer--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-change__disclaimer--desktop {
    margin-top: 30px;
    margin-bottom: 15px;
    display: block;
  }
  #es-rc #es-rc-content .es-change__single {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 220px;
    gap: 30px;
  }
  #es-rc #es-rc-content .es-change__single-right {
    max-width: 100%;
  }
  #es-rc #es-rc-content .es-change__single-left {
    max-width: 100%;
  }
  #es-rc #es-rc-content .es-change__single-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  #es-rc #es-rc-content .es-change__single-title {
    max-width: none;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
  }
  #es-rc #es-rc-content .es-change__single-title--turquoise {
    min-height: 50px;
    color: #13294b;
    font-weight: 700;
    font-size: 14px;
  }
  #es-rc #es-rc-content .es-change__single-title--turquoise-mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-change__single-title--turquoise-desktop {
    display: block;
  }
  #es-rc #es-rc-content .es-change__single-subtitle {
    text-align: center;
    font-size: 16px;
    min-height: 70px;
    max-width: none;
  }
  #es-rc #es-rc-content .es-change__single-inner-2 {
    -webkit-box-align: center;
    align-items: center;
  }
  #es-rc #es-rc-content .es-video {
    height: auto;
    min-height: unset;
    margin-bottom: 0;
    padding: 2% 10% 8%;
  }
  #es-rc #es-rc-content .es-video__iframe--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-video__iframe--desktop {
    display: block;
  }
}
@media (min-width: 998px) {
  #es-rc #es-rc-content .es-title {
    font-size: 35px;
  }
  #es-rc #es-rc-content .es-features {
    min-height: 500px;
  }
  #es-rc #es-rc-content .es-features__inner {
    max-width: 69%;
  }
  #es-rc #es-rc-content .es-features__disclaimer {
    font-size: 12px;
  }
  #es-rc #es-rc-content .es-change {
    padding-bottom: 0;
  }
  #es-rc #es-rc-content .es-change__subtitle {
    max-width: 70%;
  }
  #es-rc #es-rc-content .es-change__left {
    max-width: 70%;
  }
  #es-rc #es-rc-content .es-change__right {
    max-width: 30%;
    background: url("https://www.datocms-assets.com/114232/1743696379-steps-bg-desktop.png") no-repeat center center;
    background-size: cover;
    min-height: 640px;
    width: 100%;
  }
  #es-rc #es-rc-content .es-change__inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  #es-rc #es-rc-content .es-change__list {
    gap: 10px;
  }
  #es-rc #es-rc-content .es-change__image {
    display: none;
  }
  #es-rc #es-rc-content .es-change__subtitle {
    font-size: 24px;
  }
  #es-rc #es-rc-content .es-cross__single-subtitle-disclaimer {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .swiper-pagination {
    display: none;
  }
  #es-rc #es-rc-content .es-slider {
    max-width: 95%;
    margin: 0 auto;
  }
  #es-rc #es-rc-content .es-features {
    min-height: 637px;
    max-width: 1920px;
    margin: 0 auto;
  }
  #es-rc #es-rc-content .es-features__title {
    margin-bottom: 20px;
  }
  #es-rc #es-rc-content .es-cross {
    padding-bottom: 20px;
    padding-top: 30px;
  }
  #es-rc #es-rc-content .es-cross__title {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #es-rc #es-rc-content .es-cross__single-subtitle {
    font-size: 17px;
  }
  #es-rc #es-rc-content .es-change__list {
    padding-top: 20px;
    gap: 15px;
  }
  #es-rc #es-rc-content .es-change__subtitle {
    max-width: 46%;
  }
  #es-rc #es-rc-content .es-change__single {
    max-width: 255px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #es-rc #es-rc-content .es-change__single-title--turquoise-mobile {
    display: none;
  }
}
@media (min-width: 1400px) {
  #es-rc #es-rc-content .es-features__inner {
    max-width: 60%;
    padding-left: 200px;
  }
}
@media (min-width: 1700px) {
  #es-rc #es-rc-content .es-title {
    font-size: 54px;
  }
  #es-rc #es-rc-content .es-features__title {
    font-size: 50px;
  }
  #es-rc #es-rc-content .es-features__link {
    font-size: 24px;
    margin-top: 25px;
    padding: 23px;
  }
  #es-rc #es-rc-content .es-features__inner {
    max-width: 66%;
    padding-top: 37px;
    padding-left: 401px;
  }
  #es-rc #es-rc-content .es-features__disclaimer {
    font-size: 18px;
    margin-top: 0px;
  }
  #es-rc #es-rc-content .es-cross__title {
    max-width: 70%;
  }
  #es-rc #es-rc-content .es-cross__subtitle {
    font-size: 40px;
  }
  #es-rc #es-rc-content .es-cross__single-image {
    max-height: 250px;
  }
  #es-rc #es-rc-content .es-cross__single-title {
    font-size: 35px;
  }
  #es-rc #es-rc-content .es-cross__single-subtitle {
    font-size: 26px;
    max-width: 386px;
    margin-bottom: 65px;
  }
  #es-rc #es-rc-content .es-cross__single-link {
    font-size: 22px;
    padding: 29px 80px;
  }
  #es-rc #es-rc-content .es-cross__single-image--4 {
    padding-top: 70px;
  }
  #es-rc #es-rc-content .es-cross__single-subtitle-disclaimer {
    font-size: 15px;
    margin-top: -10px;
    max-width: 90%;
  }
  #es-rc #es-rc-content .es-cross__disclaimer--desktop {
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-change__list {
    gap: 40px;
  }
  #es-rc #es-rc-content .es-change__right {
    min-height: 865px;
    max-width: 39%;
  }
  #es-rc #es-rc-content .es-change__subtitle {
    max-width: 88%;
    font-size: 39px;
    margin-bottom: 65px;
  }
  #es-rc #es-rc-content .es-change__single {
    max-width: 330px;
  }
  #es-rc #es-rc-content .es-change__single-title {
    font-size: 35px;
  }
  #es-rc #es-rc-content .es-change__single-title--turquoise {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-change__single-subtitle {
    font-size: 20px;
    max-width: 83%;
    margin: 0 auto;
  }
  #es-rc #es-rc-content .es-change__single-group {
    margin-bottom: 35px;
  }
  #es-rc #es-rc-content .es-change__disclaimer--desktop {
    font-size: 18px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideright {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideleft {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes load1 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes load1 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes load2 {
  from {
    width: 0;
  }
  to {
    width: 82%;
  }
}
@keyframes load2 {
  from {
    width: 0;
  }
  to {
    width: 82%;
  }
}
@-webkit-keyframes load3 {
  from {
    width: 0;
  }
  to {
    width: 98%;
  }
}
@keyframes load3 {
  from {
    width: 0;
  }
  to {
    width: 98%;
  }
}

/*# sourceMappingURL=style.css.map */
